.title {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 36pt;
	border: 0px solid;
	border-radius: 10px;
	width: 325px;
	background-color: #faf8ef;
}

.completed-container, .level-container, .instructions-container {
	position:relative;
	padding: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24pt;
	border: 0px solid;
	border-radius: 10px;
	width: 150px;
	background-color: #faf8ef;
	text-align: center;
}

.instructions-container {
	width: 200px;
}

.completed-container:after, .level-container:after {
	position:absolute;
	width: 100%;
	top: 5px;
	left: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: gray; 
}

.completed-container:after {
	content: "completed";
}

.level-container:after {
	content: "level";
}